// Main Variables
// Color
$main-bg: #fff;
$shadow: #f5f5f5;
$light-gray: #ccc;
$main-text-color: #000;
$darky: #565656;
$main-link: #007bff;
$green: #3e8923;
$margin-correct:30px;

// Typography
$default-font: "Fira Sans", sans-serif;
$headers-font: 'Merriweather', serif;

